## Step 1 - Importing Libraries & Dataset
---

In [1]:
#IMPORTING LIBRARIES

import pandas as pd
import numpy as np
pd.options.display.max_rows = 999

In [2]:
#IMPORTING DATAFRAME

df = pd.read_csv('comp_original.csv')

## Step 2 - Quick overview
---

In [3]:
#CHECKING DATASET

df.head()

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1.0,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2.0,2014-09-04,2014-03-01,2014-10-14
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1.0,NaN,2014-01-30,2014-01-30
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1.0,2007-01-01,2008-03-19,2008-03-19
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,2010-01-01,2014-07-24,2014-07-24

In [4]:
#CHECKING DATASET DIMENSIONS

df.shape

(13826, 14)

In [5]:
#CHECKING THE COLUMNS IN DATASET

df.columns

Index(['permalink', 'name', 'homepage_url', 'category_list',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'first_funding_at',
       'last_funding_at'],
      dtype='object')

## Step 3 - Cleaning

In [6]:
#DROPPING THE COLUMNS WHICH ARE IRRELEVANT

df.drop(columns = ['permalink','homepage_url','state_code','region','status'], axis=1,inplace=True)

In [7]:
#CHECKING THE NEW DIMENSIONS OF DATASET

df.shape

(13826, 9)

In [8]:
#CHECKING ALL THE MISSING VALUES

df.isnull().sum()

name                    0
category_list         625
funding_total_usd       0
country_code         1330
city                 1561
funding_rounds          1
founded_at           3179
first_funding_at        6
last_funding_at         1
dtype: int64

In [9]:
#DROPPING ALL MISSING VALUES

df.dropna(subset = ['category_list','country_code','city','funding_rounds','founded_at','first_funding_at','last_funding_at'], inplace=True)

In [10]:
#CHECKING IF ALL MISSING VALUES HAVE BEEN DROPPED

df.isnull().sum()

name                 0
category_list        0
funding_total_usd    0
country_code         0
city                 0
funding_rounds       0
founded_at           0
first_funding_at     0
last_funding_at      0
dtype: int64

In [11]:
#CHECKING THE NEW DIMENSIONS OF DATASET

df.shape

(9651, 9)

In [12]:
#CHECKING THE TYPE OF EACH COLUMN

df.dtypes

name                  object
category_list         object
funding_total_usd     object
country_code          object
city                  object
funding_rounds       float64
founded_at            object
first_funding_at      object
last_funding_at       object
dtype: object

In [13]:
#CONVERTING THE 3 DATES COLUMNS FROM AN OBJECT TO A DATETIME

df['founded_at'] = pd.to_datetime(df['founded_at'], errors = 'coerce')
df['first_funding_at'] = pd.to_datetime(df['first_funding_at'], errors = 'coerce')
df['last_funding_at'] = pd.to_datetime(df['last_funding_at'])

df.dtypes

name                         object
category_list                object
funding_total_usd            object
country_code                 object
city                         object
funding_rounds              float64
founded_at           datetime64[ns]
first_funding_at     datetime64[ns]
last_funding_at      datetime64[ns]
dtype: object

In [14]:
# KEEPING ONLY THE YEAR IN THE DATES COLUMNS

df['founded_at'] = df['founded_at'].dt.to_period('Y')
df['first_funding_at'] = df['first_funding_at'].dt.to_period('Y')
df['last_funding_at'] = df['last_funding_at'].dt.to_period('Y')
df

,name,category_list,funding_total_usd,country_code,city,funding_rounds,founded_at,first_funding_at,last_funding_at
1,:Qounter,Application Platforms|Real Time|Social Network...,700000,USA,Delaware City,2.0,2014,2014,2014
3,0-6.com,Curated Web,2000000,CHN,Beijing,1.0,2007,2008,2008
4,004 Technologies,Software,-,USA,Champaign,1.0,2010,2014,2014
6,Ondine Biomedical Inc.,Biotechnology,762851,CAN,Vancouver,2.0,1997,2009,2009
7,H2O.ai,Analytics,33600000,USA,Mountain View,4.0,2011,2013,2015
...,...,...,...,...,...,...,...,...,...
13819,Criterion Security,Security,250000,USA,Nashville,1.0,2010,2012,2012
13820,Critical Biologics Corporation,Biotechnology|Health Diagnostics,500000,USA,Cambridge,1.0,2004,2009,2009
13821,Critical Diagnostics,Biotechnology|Health Diagnostics,2566676,USA,San Diego,1.0,2004,2013,2013
13822,Critical Links,Charter Schools|EdTech|Education|K-12 Educatio...,11400000,USA,Fairfield,2.0,2008,2007,2008
13823,Critical Media,Games|Video,6200000,USA,New York,3.0,2002,2004,2006

In [15]:
#DROPPING ALL THE ROWS IN COLUMN 'FUNDING_TOTAL_USD' WHO DON'T HAVE AN AMOUNT

df.drop(df[df['funding_total_usd'].str.find('-') != -1].index, inplace=True)
df.shape

(8115, 9)

In [16]:
#CONVERTING THE 'FUNDING_TOTAL_USD' COLUMN IN FLOAT

df['funding_total_usd'] = df['funding_total_usd'].astype('float')
df.dtypes

name                        object
category_list               object
funding_total_usd          float64
country_code                object
city                        object
funding_rounds             float64
founded_at           period[A-DEC]
first_funding_at     period[A-DEC]
last_funding_at      period[A-DEC]
dtype: object

In [17]:
#DROPPING THE ROWS IN WHICH THERE IS SYMBOLS OR PUNCTUATION

df.drop(df[df['category_list'].str.find('|') != -1].index, inplace=True)
df.shape

(3817, 9)

In [18]:
#GROUPING THE COUNTRY CODES BY REGION OF THE WORLD

def categories_countries(x):
    if x in ['USA','CAN']: 
        return 'NorthAm'
    elif x in ['GBR','FRA','DEU','IRL','SWE','ESP','NLD','RUS','ITA','DNK','BEL','FIN','CHE']:
        return 'EU'
    elif x in ['CHN','IND','AUS','KOR','JPN','SGP','HKG']:
        return 'AS'
    elif x in ['CHL','BRA']:
        return 'SouthAm'
    else:
        return 'Other'

In [19]:
df['country_code'] = df['country_code'].apply(categories_countries)

In [20]:
df['country_code'].value_counts()

NorthAm    2838
EU          481
AS          289
Other       160
SouthAm      49
Name: country_code, dtype: int64

## Step 4 - Exporting the dataframe in .csv to use it in other notebooks
---

In [26]:
df.to_csv('comp_modified.csv',index=False)